* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, body {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --primary: #2962ff;
    --highlight: #448aff;
    --border-color: #b0bec5;
}

.title {
    font-weight: lighter;
    font-size: 3rem;
}

.navigation .title a {
    color: white;
    text-decoration: none;
}

.navigation {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--primary);
    color: white;
}

.navigation-links a {
    color: white;
    text-decoration: none;
    padding: 4px 8px;
}

.navigation-links a:hover {
    border-bottom: 4px solid white;
}

.welcome-banner {
    display: grid;
    grid-template-columns: 4fr 3fr;
    padding: 3rem;
}

.full-width {
    width: 100%;
}

.welcome-left, .welcome-right {
    padding: 1rem;
}

.featured-university {
    background: #f5f5f5;
    border: 1px solid var(--border-color);
    padding: 10px;
    margin-top: 1rem;
}

.student-actions {
    margin-top: 1rem;
}

.student-actions form {
    display: inline;
}

.post-input {
    width: 100%;
}

.profile, .feed, .ads {
    padding: 1rem;
    border: 1px solid var(--border-color);
    background: #eceff1;
}

.profile p {
    margin: 0 0 5px 0;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.profile-div {
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.profile .profile-pic {
    margin: auto;
}

.post .profile-pic {
    margin-right: 1rem;
    float: left;
}

.post .username {
    font-weight: bold;
    color: #616161;
}

.new-post {
    background: #cfd8dc;
}

.new-post, .post {
    padding: 10px 1rem;
    border: 1px solid var(--border-color);
}

.post {
    display: flex;
    background: white;
    border-top: none;
}

.row {
    display: grid;
    grid-template-columns: 1fr 90px;
    grid-gap: 10px;
}

.ads .row {
    margin-bottom: .5rem;
}

.feed {
    padding: 0;
    background: white;
    border: none;
}

@media(min-width: 850px) {
    .landing {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 15px;
    }
}

.landing {
    width: 90%;
    margin: 1rem auto;
}

.student-search-result {
    background: #eceff1;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid var(--border-color);
}

.student-search-result p {
    margin: 0;
}

.student-search-result .profile-pic {
    float: left;
    margin-right: 1rem;
}

.error-message {
    padding: 1rem;
    text-align: center;
    background: #ef9a9a;
}

.container {
    padding: 30px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 3rem;
}

p, li {
    line-height: 1.7;
}

.text-center {
    text-align: center;
}

.signup-form {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: center;
}

.full-width {
    width: 100%;
}

.signup-form label {
    font-size: .9rem;
}

input[type=text], input[type=password], input[type=email], input[type=number], textarea {
    border-radius: 3px;
    border: 1px solid var(--border-color);
    padding: 10px;
}

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
    border: 1px solid var(--primary);
    transition: border .2s ease-in;
}

input[type=submit], input[type=button] {
    margin-right: .5rem;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 1.1rem;
    border: 1px solid transparent;
    background: var(--primary);
    color: white;
}

input[type=submit]:hover, input[type=button]:hover {
    background: var(--highlight);
    transition: background .2s;
    cursor: pointer;
}

.basic-info, .education, .major, .essay {
    border: 1px solid var(--border-color);
    margin-top: 1rem;
    padding: 1rem;
    background: #eceff1;
}

.basic-info h2, .education h2, .major h2, .essay h2 {
    font-size: 2.3rem;
    font-weight: lighter;
}

.appointment div {
    padding: 1rem 0;
}

.bad {
    background: #ffcdd2;
}

.good {
    background: #c8e6c9;
}

.basic-info div, .education div, .major div {
    margin-top: 1rem;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 130px 1fr; 
}

.basic-info label, .education label, .major label, .essay label {
    font-weight: bold;
    font-size: 1.1rem;
    color: #616161;
}

.apply-btn {
    margin-top: 1rem;
}

.essay textarea {
    font-size: 1rem;
    font-family: inherit;
    margin-top: 1rem;
    width: 100%;
    height: 500px;
}

.apply {
    max-width: 600px;
    margin: auto;
}